<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <!-- <h1>Welcome</h1> -->
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="flex items-center justify-center  text-white">
            <h1 class="text-5xl rounded-md p-10">
                Make It Easyy!
            </h1>
        </div>

        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input class="block w-full rounded-md outline-none px-5 py-5 bg-zinc-800" type="text"
                    placeholder="Title" name="title">
                <textarea class="block w-full rounded-md outline-none px-5 py-5 mt-2 bg-zinc-800 resize-none"
                    placeholder="Description" name="detail"></textarea>
                <input class="mt-2 bg-zinc-700 px-5 py-2 rounded-md" type="submit" value="Create Task">
            </form>
        </div>

        <!-- -------------------------------------------------------------------------------------------------------- -->
        <!-- <div class="filter-bar flex justify-center gap-4 text-white mb-6">
            <button class="filter-btn px-4 py-2 bg-zinc-700 rounded-md hover:bg-zinc-600" data-filter="all">All</button>
            <button class="filter-btn px-4 py-2 bg-zinc-700 rounded-md hover:bg-zinc-600" data-filter="todo">To Do</button>
            <button class="filter-btn px-4 py-2 bg-zinc-700 rounded-md hover:bg-zinc-600" data-filter="completed">Completed</button>
        </div> -->
        <!-- -------------------------------------------------------------------------------------------------------- -->

        <div class="tasks p-10 text-white flex gap-6 flex-wrap">
            <% if(files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="task rounded-md px-5 py-6 bg-zinc-800 w-80 h-auto">
                        <h1 class="text-white text-2xl break-words">
                            <%= val.split('_').join(' ').split('.')[0] %>
                        </h1>
                        <div class="flex justify-between items-center mt-5">
                            <a class="text-blue-500 inline-block" href="/file/<%= val %>" >View File</a>
                            <a class="text-gray-300" href="/edit/<%= val %>">Edit</a>
                            <a class="text-gray-300" href="/delete/<%= val %>">Delete</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="text-zinc-400 px-3">No Tasks Yet!</h3>
            <% } %>
        </div>
        
        


    </div>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/scripts.js"></script>

</body>

</html>